<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Halaman Tidak Ditemukan | AnnonFeed</title>
</head>
<body class="bg-slate-950 text-slate-50">
    <nav class="navbar main-grad text-white flex flex-row items-center pl-2 gap-3 fixed inset-x-0 justify-between">
        <div id="title" class="brand flex items-center gap-3">
            <div id="menu" class="h-fit">
                <div id="hamburger-btn" class="hamburger-btn lg:hidden hover:bg-slate-100/15 px-1 rounded-sm">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>
                <div id="hider" class="fixed inset-x-0 hidden bottom-0 bg-slate-950/45">
                    <ul id="sidebar" class="bg-[#6e3f2c] fixed left-0 right-0 w-[60%] sm:w-1/2 md:w-2/5 rounded-r-lg transition-all [&_li:first-child]:mt-2 [&_li:not(:first-child)]:my-2 [&_li]:pl-3 [&_li]:py-3 [&_li]:text-lg h-dvh -translate-x-full [&_li:hover]:bg-secondary-orange/20 [&_li]:rounded-r-full [&_li]:w-[98%]">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/Help">Bantuan</a></li>
                        </ul> 
                        <ul>
                            <li class=""><a href="/login">Login</a></li>
                            <li class=""><a href="/new">Buat Sesi Baru</a></li>
                            <li><a href="/join">Bergabung</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <h2><span class="text-white">Annon</span><span class="">Feed</span></h2>
            <div class="border-sep h-8 "></div>
            <div class="text-base font-normal text-gray-300 flex items-center hover:text-white [&>div]:hover:border-white [&>div]:hover:translate-y-[0.18rem]">
                <span>Page title</span>
                <div class="w-2 h-2 border-gray-300 border-r border-b rotate-45 translate-x-2 -translate-y-0.5 transition-transform"></div> 
            </div>
        </div>
        
        
        <div class=" pl-5 px-2 h-full flex items-center gap-3.5 pr-3">
            <a href="/login" class="hover:text-slate-50/70 hover:underline hidden md:block">Login</a>
            <a href="/new" class="text-md py-1.5 px-2.5 rounded-[5px] border-2 border-gray-100 text-slate-50 my-3 hover:border-gray-50/70 hover:text-gray-50/70 hidden md:block">Buat Sesi Baru</a>
            <div class="border-sep h-12"></div>
            <a href="/join" class="text-md py-1.5 px-2.5 rounded-[5px] border-2 border-gray-100 text-slate-50 my-3 hover:border-gray-50/70 hover:text-gray-50/70">Masukkan Kode</a>
        </div>
        
    </nav>
    
    <div class="main min-h-dvh flex flex-col justify-center">
        <h2 class="text-center text-xl font-bold">ERROR</h2>
        <p class="text-center text-7xl font-black text-white">404</p>
        <h3 class="text-center">Halaman yang anda cari tidak ditemukan pada server.</h3>
        <a href="/" class="block mx-auto mt-4 py-2 px-4 rounded-full bg-main-orange w-fit transition-all hover:bg-secondary-orange hover:scale-105">Kembali ke Homepage</a>
    </div>

{{!-- <script src="script.js"></script> --}}
<script>
        const sidebar = document.getElementById('sidebar')
        const navBar = document.querySelector('nav.navbar')
        const navBarHeight = window.getComputedStyle(navBar)['height']
        const hidder = document.getElementById('hider')
        const hamburgerBtn = document.getElementById('hamburger-btn')

        navBar.style.height = navBarHeight
        document.querySelector('.main').style.paddingTop = navBarHeight
        sidebar.style.top = navBarHeight
        hidder.style.top = navBarHeight


        hamburgerBtn.addEventListener('click', (e) => {
            hidder.classList.toggle('hidden')
            hamburgerBtn.classList.toggle('hamburger-btn-clicked');
            setTimeout(() => {
                sidebar.classList.toggle('sidebar-opened')
            }, 200)
        });

        hidder.addEventListener('click', (e) => {
            if(!sidebar.contains(e.target)){
                hamburgerBtn.classList.toggle('hamburger-btn-clicked');
                sidebar.classList.toggle('sidebar-opened')
                setTimeout(() => {
                    hidder.classList.toggle('hidden')
                }, 200)
                
            }
        })
        


</script>
</body>
</html>