<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Feedback | AnnonFeed</title>
</head>
<body id="feedback">
    {{{nav}}}
    <div class="container-full">
        <div class="container">
        <h1 style="margin-bottom: 15px;">Feedback</h1>
        <section id="at-a-glance">
            <h4>Nama Event :</h4>
            <h1 id="event-name">{{eventName}}</h1>
        </section>
        <div>
            <div class="container-head"><h3>Berikan masukan tentang event ini!</h3></div>
            <div class="container-main">
                <form action="/feedback/send" id="feedback-form" method="post">
                    <label for="name">Nama (Kosongkan untuk Anonim) :</label>
                    <input type="text" name="name" id="name" placeholder="Anonim">
                    <textarea required name="feedback" id="feedbackMessage" placeholder="Masukkan feedback anda mengenai acara ini (minimal 8 karakter)!"></textarea>
                    <button disabled type="submit" id="submit-bt">Kirim</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui perspiciatis consequuntur labore, quisquam sapiente cumque pariatur veniam animi numquam ex possimus officiis vel ullam, necessitatibus, ut molestias? Repellendus distinctio a ratione consectetur tempora quia, consequuntur porro quos possimus vel ipsa cum nisi non, odit id vitae? Quasi nobis cumque facere tempore laboriosam unde nisi similique quos. A ab pariatur sit accusamus vitae neque libero voluptatem asperiores vero. Est ipsum pariatur, aliquam quia nostrum porro vitae labore facilis, quos error minima commodi alias praesentium saepe soluta excepturi quas voluptatum? Cumque, et eius. Ducimus animi nisi distinctio asperiores sit, quisquam possimus. Architecto molestiae laboriosam natus culpa consequatur ea porro in eveniet eos, dolor aliquid repudiandae neque, ipsam veritatis sequi. Qui temporibus culpa cupiditate voluptates error dolorem expedita quos. Voluptate nisi cumque atque sapiente eum! Libero tempore eum asperiores harum aperiam ipsam neque vitae quod assumenda necessitatibus mollitia modi, sapiente soluta saepe accusamus velit, debitis iure. Rerum fuga reprehenderit, quos aspernatur, optio eum consequuntur numquam quod expedita praesentium corporis ea facilis fugit veritatis consequatur iusto. Iure temporibus hic inventore officiis eius? Eaque architecto in, veritatis earum maiores doloremque dignissimos aspernatur accusantium molestiae aut quae non cupiditate minima sequi a voluptas totam! Quasi omnis quibusdam corrupti ad eveniet neque fugit aliquid ab, recusandae voluptatibus eligendi voluptatum. Corrupti, dignissimos reprehenderit maiores similique sint quidem animi incidunt consequatur sunt saepe natus sapiente adipisci nihil aliquid at quos voluptas culpa dicta totam quaerat, cum nostrum. Nesciunt eum sunt illo ea unde eius cumque sequi. Provident vel, impedit non ratione fuga voluptates eos porro quisquam exercitationem! Beatae itaque commodi accusamus, reprehenderit, voluptatem modi doloribus repudiandae illum autem facilis eveniet dicta corrupti pariatur, earum vel. Corporis quidem ipsum eaque eius, laborum animi quaerat nulla non reiciendis earum autem quam temporibus alias architecto eligendi est molestiae sunt. Recusandae quidem cum officiis id soluta aliquam necessitatibus quibusdam excepturi sed, ut nihil quos cupiditate, corporis natus? Harum porro maiores unde cum soluta error libero ducimus quae illo aliquid, reprehenderit aliquam odit explicabo temporibus a eaque. Odio at accusamus nemo et ut assumenda neque nulla cum fugit tempore nostrum beatae ex, quaerat eveniet tenetur odit veniam voluptate qui error vel blanditiis possimus? Quaerat enim tempore repellat possimus et officiis amet nostrum iure nisi dolore provident facilis excepturi ipsum quidem debitis placeat, maxime laborum, eveniet nemo veniam fugiat! Officiis eaque fugit, ipsa quidem, corrupti, pariatur atque inventore optio sequi et nesciunt consequuntur iure maxime quas aliquid nobis ex repellat ad saepe fuga reiciendis nihil ullam beatae? Maxime non est provident ducimus hic sunt numquam rem aspernatur earum, neque debitis consequatur voluptates quisquam! Dolor omnis voluptatum expedita voluptas tempore harum excepturi laudantium cum aperiam, sed doloribus dolore. Dolorem tempore laudantium, quis est inventore molestiae esse nostrum, suscipit minus, voluptatem quidem eum quasi distinctio assumenda totam blanditiis aut earum necessitatibus a labore voluptatibus. Minus illum laudantium culpa dolores aliquid deleniti voluptates, quam ea quibusdam error officiis facere dignissimos nam voluptatum facilis quo unde quos quia corporis, totam, eveniet doloremque? In laudantium aut repellat adipisci sequi quos?</div>

<script>
    const feedbackMessage = document.getElementById('feedbackMessage')
    const button = document.querySelector('button#submit-bt')
    const form = document.querySelector('form#feedback-form')
    
    form.setAttribute('action',`/feedback/send/${window.location.search}`)

    feedbackMessage.addEventListener('input', (e) => {

        if(feedbackMessage.value.length < 8){
            button.disabled = true
        }else{
            button.disabled = false
        };
    });
</script>
<script src="script.js"></script>
</body>
</html> 
