<!DOCTYPE html>
<html lang="id">
<head>
    {{{head}}}
</head>
<body id="feedback">
  {{{nav}}}
  <div class="main px-6 md:flex-col-center animate-float-f-b">
    <div class="mx-auto rounded-lg md:bg-gray-800 md:flex md:flex-col md:p-6 md:w-8/12">
      <div class="mb-2">
        <h1 class="text-4xl font-bold">Feedback</h1>
        <span class="text-xl font-bold">Nama Event :</span>
        <span id="event-name" class="text-xl ml-1">{{eventName}}</span>
        <h3 class="mt-1">Berikan masukan tentang event ini!</h3>
      </div>
      <form action="/feedback/send" id="feedback-form" method="post" class="flex flex-col">
        <label for="name" class="text-lg font-bold">Nama (Kosongkan untuk Anonim) :</label>
        <input type=" text" name="name" id="name" class="input-main" placeholder="Anonim" />
        <label for="feedbackMessage" class="text-lg font-bold">Masukkan Feedback anda mengenai acara ini!</label>
        <textarea required name="feedback" id="feedbackMessage" class="bg-transparent focus:outline-none border-2 border-slate-50 rounded-md p-2 resize-none" rows="5" placeholder="Masukkan feedback minimal 8 karakter!"></textarea>
        <button disabled type="submit" id="submit-bt" class="btn-main">Kirim</button>
      </form>
    </div>
  </div>
  <script>
    const feedbackMessage = document.getElementById('feedbackMessage');
    const button = document.querySelector('button#submit-bt');
    const form = document.querySelector('form#feedback-form')
    form.setAttribute('action', `/feedback/send/${window.location.search}`)
    feedbackMessage.addEventListener('input', (e) => {
      if (feedbackMessage.value.length < 8) { button.disabled = true } else {
        button.disabled = false
      };
    });
  </script>
{{{script}}}
</body>
</html>