<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | AnnonFeed</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    {{!--
    <link rel="stylesheet" href="styles.css"> --}}
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{{nav}}}
    <div class="main flex-col-center px-3 animate-float-f-b">
        <h1 class="text-center font-bold text-4xl max-xs:text-2xl">Terima <span style="color: #933dc9;">Feedback</span> dari acara
            konfrensi anda dengan mudah</h1>
        <h1 class="text-center font-bold text-4xl max-xs:text-2xl">dengan <span
                class="brand"><span>Annon</span><span>Feed</span></span>.</h1>
        <div class="flex max-sm:flex-col justify-center my-6 [&_h3]:text-center [&_h3]:font-bold [&_h3]:text-xl gap-4 sm:gap-[5%] md:w-max md:mx-auto">
            <div id="admin" class="grid grid-cols-2 max-xs:grid-cols-1 md:px-3 grid-rows-[repeat(2,fit-content)] max-xs:grid-rows-[repeat(3,fit-content)] [&>a]:mx-3 [&>h3]:col-span-2 max-xs:[&>h3]:col-span-1">
                <h3>Untuk Panitia*</h3>
                <a href="/new" class="btn-main justify-self-end max-xs:justify-self-center">Buat Sesi Baru</a>
                <a href="/login" class="btn-main justify-self-start max-xs:justify-self-center">Masuk kembali</a>
            </div>
            <div class="border-sep max-sm:hidden"></div>
            <div id="user">
                <h3>Untuk Peserta</h3>
                <a href="/join" class="btn-main mx-auto">Bergabung Dengan Code</a>
            </div>
        </div>
        <div id="info" class="text-center">
            <p>* Untuk saat ini, akses untuk Panitia hanya tersedia di desktop.</p>
            <p>Bingung? Akses bantuan <a href="/help" class="link">disini</a>.</p>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>